/* Definición de variables */
:root {
    --fondo-claro: #f4f4f4;
    --texto-claro: black;
    --fondo-oscuro: #1e1e1e;
    --texto-oscuro: white;

    --tarjeta-clara: white;
    --tarjeta-oscura: #333;
    
    --degradado-claro: linear-gradient(#fff 50%, #c0c0c0 100%, #f4f4f4 100%);

    --boton-claro: #3498db;
    --boton-claro-hover: #2980b9;
    --boton-oscuro: #f39c12;
    --boton-oscuro-hover: #e67e22;

    --sombra-clara: rgb(0 0 0 / 0.2);
    --sombra-oscura: rgb(255 255 255 / 0.2);
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(135deg, #080808df 0%, #000000df 100%), url("../imagenes/fondoDados.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color-scheme: light dark;
    flex-direction: column;
}

/* Botón de modo oscuro */
.boton-tema {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.boton-tema:active {
    transform: rotate(180deg);
}

/* Modo oscuro */
.modo-oscuro {
    background-image: linear-gradient(135deg, #080808ec 0%, #000000f7 100%), url("../imagenes/fondoDados.jpg");
    color: var(--texto-oscuro);
}

.modo-oscuro .contenedor-dado {
    background: var(--tarjeta-oscura);
    color: var(--texto-oscuro);
    box-shadow: 0 1px 8px var(--tarjeta-clara);
}

.modo-oscuro .titulo-dado {
    color: var(--texto-oscuro);
}

.modo-oscuro .cara-dado {
    color: var(--texto-oscuro);
}

.modo-oscuro .boton-lanzar {
    background: var(--boton-oscuro);
    color: rgb(45, 45, 45);
}

.modo-oscuro .boton-lanzar:hover {
    background: var(--boton-oscuro-hover);
}

/* Contenedor principal */
.contenedor-dado {
    width: 80%;
    height: 600px;
    background-image: var(--degradado-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--sombra-clara);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px 20px 0px;
}

.titulo-dado {
    font-size: 24px;
    color: var(--texto-claro);
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0px 0px 12px rgba(70, 131, 180, 0.719);
}

/* Contenedor del dado */
.display-dado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* Carácter del dado */
.cara-dado {
    font-size: 100px;
    transition: transform 0.3s ease-in-out;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Botón */
.boton-lanzar {
    width: 20%;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background: var(--boton-claro);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.boton-lanzar:hover {
    background: var(--boton-claro-hover);
}

@media screen and (max-width: 700px) {
    .contenedor-dado {
        width: 70%;
    }
}